<h2>New Tutorial</h2>
<%= form_for [:admin, @tutorial] do |f| %>
  <%= f.label :playlist_id, "Playlist Id:" %>
  <%= f.text_field :playlist_id, class: "block col-4 field" %>
  <%= f.submit "Import", class: "mt2 btn btn-primary mb1 bg-teal"  %>
<% end %>