---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=$$cash_money$$&key=<YOUTUBE_API_KEY>&part=id,contentDetails,snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "k7C9z_jcF5xa02AMD6Ny6hy8tDs",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 5
          },
          "items": []
        }
  recorded_at: Wed, 13 May 2020 17:47:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL1cFDQFVTgspB01PHMDMM0U9Ckm7_mNa3&key=<YOUTUBE_API_KEY>&part=id,contentDetails,snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "xR-WAj47SPvcx2PUZeuNJe5ONmg",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "uN8PQK2B94duPwi0F7Brdi2VYyM",
              "id": "PL1cFDQFVTgspB01PHMDMM0U9Ckm7_mNa3",
              "snippet": {
                "publishedAt": "2020-05-09T21:41:24Z",
                "channelId": "UCrU1jP7jxsxg_G1PeXfjQ1w",
                "title": "hamburger",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/Wd-ECuaSIEg/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/Wd-ECuaSIEg/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/Wd-ECuaSIEg/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Brian Greeson",
                "localized": {
                  "title": "hamburger",
                  "description": ""
                }
              },
              "contentDetails": {
                "itemCount": 1
              }
            }
          ]
        }
  recorded_at: Wed, 13 May 2020 17:47:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&part=id,contentDetails&playlistId=PL1cFDQFVTgspB01PHMDMM0U9Ckm7_mNa3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "BWDUP1i8Y_fX5fHcqRnXjMwpLV4",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "Q6Yg5GrtFt1Cf9s1bmqlyB6TKv8",
              "id": "UEwxY0ZEUUZWVGdzcEIwMVBITURNTTBVOUNrbTdfbU5hMy41NkI0NEY2RDEwNTU3Q0M2",
              "contentDetails": {
                "videoId": "Wd-ECuaSIEg",
                "videoPublishedAt": "2007-07-25T00:20:52Z"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          }
        }
  recorded_at: Wed, 13 May 2020 17:47:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=Wd-ECuaSIEg&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "OrJRblIjwhULfRp_hb[...]
