---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YnJpYW4tZ3JlZXNvbjphMDczZDg3MjE1MjhhZDBmYmE5MTI2YzRlZTI4NTRhZDAxYzg4ZGRi
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1589325814'
      Etag:
      - W/"b749726ff2d7af8cf4c09dec6fa1ffc9"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":251626783,"node_id":"MDEwOlJlcG9zaXRvcnkyNTE2MjY3ODM=","name":"activerecord-obstacle-course","full_name":"brian-greeson/activerecord-obstacle-course","private":false,"owner":{"login":"brian-greeson","id":3604068,"node_id":"MDQ6VXNlcjM2MDQwNjg=","avatar_url":"https://avatars3.githubusercontent.com/u/3604068?v=4","gravatar_id":"","url":"https://api.github.com/users/brian-greeson","html_url":"https://github.com/brian-greeson","followers_url":"https://api.github.com/users/brian-greeson/followers","following_url":"https://api.github.com/users/brian-greeson/following{/other_user}","gists_url":"https://api.github.com/users/brian-greeson/gists{/gist_id}","starred_url":"https://api.github.com/users/brian-greeson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brian-greeson/subscriptions","organizations_url":"https://api.github.com/users/brian-greeson/orgs","repos_url":"https://api.github.com/users/brian-greeson/repos","events_url":"https://api.github.com/users/brian-greeson/events{/privacy}","received_events_url":"https://api.github.com/users/brian-greeson/received_events","type":"User","site_admin":false},"html_url":"https://github.com/brian-greeson/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/brian-greeson/activerecord-obstacle-course/deployments","created_at":"2020-03-31T14:24:30Z","updated_at":"2020-03-31T14:24:32Z","pushed_at":"2020-03-04T14:22:16Z","git_url":"git://github.com/brian-greeson/activerecord-obstacle-course.git","ssh_url":"git@github.com:brian-greeson/activerecord-obstacle-course.git","clone_url":"https://github.com/brian-greeson/activerecord-obstacle-course.git","svn_url":"https://github.com/brian-greeson/activerecord-obstacle-course","homepage":null,"size":62,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":247821388,"node_id":"MDEwOlJlcG9zaXRvcnkyNDc4MjEzODg=","name":"adopt_dont_shop_2001","full_name":"brian-greeson/adopt_dont_shop_2001","private":false,"owner":{"login":"brian-greeson","id":3604068,"node_id":"MDQ6VXNlcjM2MDQwNjg=","avatar_url":"https://avatars3.githubusercontent.com/u/3604068?v=4","gravatar_id":"","url":"https://api.github.com/users/brian-greeson","html_url":"https://github.com/brian-greeson","followers_url":"https://api.github.com/users/brian-greeson/followers","foll[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YnJpYW4tZ3JlZXNvbjphMDczZDg3MjE1MjhhZDBmYmE5MTI2YzRlZTI4NTRhZDAxYzg4ZGRi
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-R[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YnJpYW4tZ3JlZXNvbjphMDczZDg3MjE1MjhhZDBmYmE5MTI2YzRlZTI4NTRhZDAxYzg4ZGRi
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-R[...]
