---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YnJpYW4tZ3JlZXNvbjphMDczZDg3MjE1MjhhZDBmYmE5MTI2YzRlZTI4NTRhZDAxYzg4ZGRi
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1589325814'
      Etag:
      - W/"bbba00a9c1b6278021e5191dd43fc609"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"KlausDevWalker","id":3390598,"node_id":"MDQ6VXNlcjMzOTA1OTg=","avatar_url":"https://avatars0.githubusercontent.com/u/3390598?v=4","gravatar_id":"","url":"https://api.github.com/users/KlausDevWalker","html_url":"https://github.com/KlausDevWalker","followers_url":"https://api.github.com/users/KlausDevWalker/followers","following_url":"https://api.github.com/users/KlausDevWalker/following{/other_user}","gists_url":"https://api.github.com/users/KlausDevWalker/gists{/gist_id}","starred_url":"https://api.github.com/users/KlausDevWalker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/KlausDevWalker/subscriptions","organizations_url":"https://api.github.com/users/KlausDevWalker/orgs","repos_url":"https://api.github.com/users/KlausDevWalker/repos","events_url":"https://api.github.com/users/KlausDevWalker/events{/privacy}","received_events_url":"https://api.github.com/users/KlausDevWalker/received_events","type":"User","site_admin":false},{"login":"alex-latham","id":56228986,"node_id":"MDQ6VXNlcjU2MjI4OTg2","avatar_url":"https://avatars3.githubusercontent.com/u/56228986?v=4","gravatar_id":"","url":"https://api.github.com/users/alex-latham","html_url":"https://github.com/alex-latham","followers_url":"https://api.github.com/users/alex-latham/followers","following_url":"https://api.github.com/users/alex-latham/following{/other_user}","gists_url":"https://api.github.com/users/alex-latham/gists{/gist_id}","starred_url":"https:/[...]
