---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic U3RlcGhhbmllRnJpZW5kOjdkNjY2YjQ1ZmJiYTY1YmNiNWZjYTczMmNjYzYwNTg1Njg3YzE0M2Q=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1589395632'
      Etag:
      - W/"043361d831ceafede57bc646d9af582e"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":238071439,"node_id":"MDEwOlJlcG9zaXRvcnkyMzgwNzE0Mzk=","name":"battleship","full_name":"cmpprg/battleship","private":false,"owner":{"login":"cmpprg","id":50722111,"node_id":"MDQ6VXNlcjUwNzIyMTEx","avatar_url":"https://avatars3.githubusercontent.com/u/50722111?v=4","gravatar_id":"","url":"https://api.github.com/users/cmpprg","html_url":"https://github.com/cmpprg","followers_url":"https://api.github.com/users/cmpprg/followers","following_url":"https://api.github.com/users/cmpprg/following{/other_user}","gists_url":"https://api.github.com/users/cmpprg/gists{/gist_id}","starred_url":"https://api.github.com/users/cmpprg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cmpprg/subscriptions","organizations_url":"https://api.github.com/users/cmpprg/orgs","repos_url":"https://api.github.com/users/cmpprg/repos","events_url":"https://api.github.com/users/cmpprg/events{/privacy}","received_events_url":"https://api.github.com/users/cmpprg/received_events","type":"User","site_admin":false},"html_url":"https://github.com/cmpprg/battleship","description":null,"fork":false,"url":"https://api.github.com/repos/cmpprg/battleship","forks_url":"https://api.github.com/repos/cmpprg/battleship/forks","keys_url":"https://api.github.com/repos/cmpprg/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cmpprg/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cmpprg/battleship/teams","hooks_url":"https://api.github.com/repos/cmpprg/battleship/hooks","issue_events_url":"https://api.github.com/repos/cmpprg/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/cmpprg/battleship/events","assignees_url":"https://api.github.com/repos/cmpprg/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/cmpprg/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/cmpprg/battleship/tags","blobs_url":"https://api.github.com/repos/cmpprg/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cmpprg/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cmpprg/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/cmpprg/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cmpprg/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/cmpprg/battleship/languages","stargazers_url":"https://api.github.com/repos/cmpprg/battleship/stargazers","contributors_url":"https://api.github.com/repos/cmpprg/battleship/contributors","subscribers_url":"https://api.github.com/repos/cmpprg/battleship/subscribers","subscription_url":"https://api.github.com/repos/cmpprg/battleship/subscription","commits_url":"https://api.github.com/repos/cmpprg/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/cmpprg/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/cmpprg/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/cmpprg/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/cmpprg/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/cmpprg/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cmpprg/battleship/merges","archive_url":"https://api.github.com/repos/cmpprg/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cmpprg/battleship/downloads","issues_url":"https://api.github.com/repos/cmpprg/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/cmpprg/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/cmpprg/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/cmpprg/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cmpprg/battleship/labels{/name}","releases_url":"https://api.github.com/repos/cmpprg/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/cmpprg/battleship/deployments","created_at":"2020-02-03T22:05:19Z","updated_at":"2020-02-13T13:51:03Z","pushed_at":"2020-02-13T13:51:09Z","git_url":"git://github.com/cmpprg/battleship.git","ssh_url":"git@github.com:cmpprg/battleship.git","clone_url":"https://github.com/cmpprg/battleship.git","svn_url":"https://github.com/cmpprg/battleship","homepage":null,"size":76,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":228639319,"node_id":"MDEwOlJlcG9zaXRvcnkyMjg2MzkzMTk=","name":"futbol","full_name":"danielpselph/futbol","private":false,"owner":{"login":"danielpselph","id":52847706,"node_id":"MDQ6VXNlcjUyODQ3NzA2","avatar_url":"https://avatars2.githubusercontent.com/u/52847706?v=4","gravatar_id":"","url":"https://api.github.com/users/danielpselph","html_url":"https://github.com/danielpselph","followers_url":"https://api.github.com/users/danielpselph/followers","following_url":"https://api.github.[...]
