---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic U3RlcGhhbmllRnJpZW5kOjdkNjY2YjQ1ZmJiYTY1YmNiNWZjYTczMmNjYzYwNTg1Njg3YzE0M2Q=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1589395632'
      Etag:
      - W/"1833152a496af2f99068785fc56fe436"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"brian-greeson","id":3604068,"node_id":"MDQ6VXNlcjM2MDQwNjg=","avatar_url":"https://avatars3.githubusercontent.com/u/3604068?v=4","gravatar_id":"","url":"https://api.github.com/users/brian-greeson","html_url":"https://github.com/brian-greeson","followers_url":"https://api.github.com/users/brian-greeson/followers","following_url":"https://api.github.com/users/brian-greeson/following{/other_user}","gists_url":"https://api.github.com/users/brian-greeson/gists{/gist_id}","starred_url":"https://api.github.com/users/brian-greeson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brian-greeson/subscriptions","organizations_url":"https://api.github.com/users/brian-greeson/orgs","repos_url":"https://api.github.com/users/brian-greeson/repos","events_url":"https://api.github.com/users/brian-greeson/events{/privacy}","received_events_url":"https://api.github.com/users/brian-greeson/received_events","type":"User","site_admin":false},{"login":"tylertomlinson","id":16050876,"node_id":"MDQ6VXNlcjE2MDUwODc2","avatar_url":"https://avatars0.githubusercontent.com/u/16050876?v=4","gravatar_id":"","url":"https://api.github.com/users/tylertomlinson","html_url":"https://github.com/tylertomlinson","followers_url":"https://api.github.com/users/tylertomlinson/followers","following_url":"https://api.github.com/users/tylertomlinson/following{/other_user}","gists_url":"https://api.github.com/users/tylertomlinson/gists{/gist_id}","sta[...]
